<section class="carousel">
    <ks-swiper-container loop="false" show-nav-buttons="true">
        <ks-swiper-slide class="swiper-slide">
            <div class="carousel-title">
                <h1 class="hide-m">De zonnigste<br>&nbsp;bestemmingen</h1>
                <h1 class="show-m">De zonnigste bestemmingen</h1>
            </div>
            <img src="content/img/heading-bg-sun-sm.jpg"
                 bh-src-responsive="[ [ '(min-width: 680px)', 'content/img/heading-bg-sun-md.jpg' ],
                                    [ '(min-width: 1024px)', 'content/img/heading-bg-sun-lg.jpg' ] ]" />
            <div class="carousel-decorator-sun">
                <img src="content/img/summer-wave-sm.svg"
                     bh-src-responsive="[ [ '(min-width: 680px)', 'content/img/summer-wave-md.svg' ],
                                        [ '(min-width: 1024px)', 'content/img/summer-wave-lg.svg' ] ]" />
            </div>
        </ks-swiper-slide>
        <ks-swiper-slide class="swiper-slide">
            <img src="content/img/heading-bg-win-sm.jpg"
                 bh-src-responsive="[ [ '(min-width: 680px)', 'content/img/heading-bg-win-md.jpg' ],
                                    [ '(min-width: 1024px)', 'content/img/heading-bg-win-lg.jpg' ] ]" />
            <div class="carousel-decorator-win">
                <img src="content/img/winter-wave-sm.svg"
                     bh-src-responsive="[ [ '(min-width: 680px)', 'content/img/winter-wave-md.svg' ],
                                        [ '(min-width: 1024px)', 'content/img/winter-wave-lg.svg' ] ]" />
            </div>
            <div class="clearfix-el"></div>
        </ks-swiper-slide>
    </ks-swiper-container>
</section>
