<footer class="footer-container">

    <!-- Top Footer -->

    <section class="container-md top-footer">
        <div class="top-footer-logo">
            <img src="content/img/sunweb-logo.svg" alt="Sunweb Logo">
        </div>
        <div class="top-footer-title">
            <h2>Zoveel goede zorgen, dat verwacht je niet voor zo’n prijs!</h2>
        </div>
    </section>

    <!-- Footer Nav -->

    <div class="footer-background footer-nav">
        <div class="container-md footer-nav-container">

            <!-- Left Nav -->

            <nav class="footer-nav-item-left">
                <ul>
                    <li><a href="#">Over Sunweb</a></li>
                    <li><a href="#">Last Minute</a></li>
                    <li><a href="#">All inclusive</a></li>
                    <li><a href="#">Reisforum</a></li>
                    <li><a href="#">Groepsreizen</a></li>
                    <li><a href="#">Vacatures</a></li>
                    <li><a href="#">Sports &amp; Events</a></li>
                </ul>
            </nav>

            <!-- Right Nav -->

            <div class="footer-nav-item-right">
                <nav class="footer-nav-item">
                    <h3>Zonvakanties</h3>
                    <ul>
                        <li><a href="#">Zonvakanties Griekenland</a></li>
                        <li><a href="#">Zonvakantie Spanje</a></li>
                        <li><a href="#">Zonvakanties Turkije</a></li>
                        <li><a href="#">Bekijk alle vakanties</a></li>
                    </ul>
                </nav>
                <nav class="footer-nav-item">
                    <h3>Wintersport vakanties</h3>
                    <ul>
                        <li><a href="#">Wintersport Frankrijk</a></li>
                        <li><a href="#">Wintersport Oostenrijk</a></li>
                        <li><a href="#">Wintersport Zwitserland</a></li>
                        <li><a href="#">Bekijk alle vakanties</a></li>
                    </ul>
                </nav>
                <nav class="footer-nav-item">
                    <h3>Autovakanties</h3>
                    <ul>
                        <li><a href="#">Autovakantie Oostenrijk</a></li>
                        <li><a href="#">Autovakantie Italië</a></li>
                        <li><a href="#">Autovakantie Spanje</a></li>
                        <li><a href="#">Bekijk alle vakanties</a></li>
                    </ul>
                </nav>
                <div class="footer-contact">
                    <nav class="footer-contact-social">
                        <h3>Volg Sunweb Via</h3>
                        <a class="icon icon-lg icon-facebook" href="#"></a>
                        <a class="icon icon-lg icon-twitter" href="#"></a>
                        <a class="icon icon-lg icon-google-plus" href="#"></a>
                    </nav>
                    <section class="footer-contact-tel">
                        <h3>Neem Contact Met Ons Op</h3>
                        <p>Telefoon 0900-0290 (70ct per gesprek)</p>
                        <p>From abroad: 0031-10-2802290 (70ct p.c.+ mobile costs)</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>
