<header class="top-header">
    <div class="top-header-logo">
        <img src="content/img/sunweb-logo.svg" alt="Sunweb Logo">
    </div>
    <div class="top-header-title">
        <h2>Zoveel goede zorgen, dat verwacht je niet voor zo’n prijs!</h2>
    </div>
    <div class="top-header-logos">
        <div>
            <img src="content/img/sunweb-trusted-logo-01.png" alt="Sunweb Trusted Logo 01">
            <img src="content/img/sunweb-trusted-logo-02.png" alt="Sunweb Trusted Logo 02">
            <img src="content/img/sunweb-trusted-logo-03.png" alt="Sunweb Trusted Logo 03">
            <img src="content/img/sunweb-trusted-logo-04.png" alt="Sunweb Trusted Logo 04">
        </div>
    </div>
</header>
<div class="decorators">
    <div class="decorator-red"></div>
    <div class="decorator-yellow"></div>
    <div class="decorator-blue"></div>
</div>

