/**
* SETUP
* --------------------------------------------------
*
*
*/

html,
body {
    height: 100%;
    font-size: 100%;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding: 0;
    margin: 0;
    background-color: $light-gray;
    font-family: $primary-font-family;
    font-size: $mobile-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-color;
    @include breakpoint(mobile){
        font-size: $tablet-font-size;
    }
    @include breakpoint(tablet){
        font-size: $desktop-font-size;
    }
}

img, picture {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

a {
    color: $blue;
    transition: color 0.2s ease-in;
    &:focus, &:hover {
        color: darken($blue, 10%);
    }
}

button {
    appearance: none;
    outline: none;
    border: none;
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    font-family: $secondary-font-family-bold;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    background-color: $sun-red;
    color: $white;
    padding: 12px 36px 12px 36px;
    line-height: 1;
    text-align: center;
    margin-top: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
    transition: background-color 0.3s ease-in;
    &:focus, &:hover {
        background-color: darken($sun-red, 10%);
    }
    &:active {
        background-color: lighten($sun-red, 10%);
    }
}

// Containers

.container-lg {
    max-width: 1400px;
    margin: 0 auto;
}

.container-md {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}

/* Panel */

.panel {
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.hide-m {
    display: none;
    @include breakpoint(mobile){
        display: block;
    }
}

.show-m {
    display: block;
    @include breakpoint(mobile){
        display: none;
    }
}
