/**
* VIEWS
* --------------------------------------------------
*
*
*/

.main-article {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.main-article {
    h1 {
        margin-bottom: 8px;
    }
    h2 {
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 30px;
    }
}
