/**
* TYPOGRAPHY
* --------------------------------------------------
*
*
*/


h1 {
    font-family: $secondary-font-family-bold;
    font-size: 26px;
}

h2 {
    font-family: $secondary-font-family;
    font-size: 18px;
    color: $action-color;
}
